@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Quicksand:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
}

:root{
    --predeterminado1: #ff7b00;
}

h1{
    font-family: "Archivo Black", sans-serif;
}

header h3{
    font-weight: lighter;
}

.celular, .desktop{
    display: none;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 1vh;
    padding: 3%;
    border-bottom: 2px black solid;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-around;
    width: fit-content;
}

nav a{
    font-size: 2vh;
    margin: 0px 2vh;
    color: var(--predeterminado1);
}

header img{
    height: 5vh;
}

header div{
    width: 40%;
    display: flex;
    justify-content: end;
}

header div img{
    padding-right: 10%;
}

.boton{
    padding: 1vh;
    background-color: var(--predeterminado1);
    border-radius: 10px;
    font-weight: bold;
    color: white;
    z-index: 2;
}

.boton:hover{
    color: black;

}

section{
    text-align: center;
}

section h3{
    margin-top: 5vh;
}

section h1{
    margin-bottom: 3vh;
}

section img{
    width: 100%;
    display: block;
}

article img{
    width: 15vh;
    height: 15vh;
    border-radius: 1000px;
    object-fit: cover;
    margin: auto;
}

article h3, article p{
    margin-top: 5%;
}

article, article p{
    margin-bottom: 10%;
}

#nombre{
    padding: 20% 0px;
}

#deportes{
    padding: 10%;
    text-align: center;
    background-color: var(--predeterminado1);
}

section div{
    height: 278px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

#disponible{
    padding: 20%;
}

#informacion img{
    position: relative;
}

#socio{
    display: none;
}

#socio p{
    margin-bottom: 2vh;
}

#informacion a{
    position: absolute;
}

#populares{
    padding: 10%;
    background-color: var(--predeterminado1);
    height: fit-content;
}

#populares div{
    position: relative;
}

#populares div img{
    width: 100%;
    height: 10vh;
    min-height: 25vh;
    border-radius: 0px;
    border-radius: 15px;
}

#populares div h3{
    position: absolute;
    top: 30px;
    right: 0%;
    background-color: white;
    margin-top: 0;
    padding: 3%;
}

#populares article{
    text-align: start;
    font-weight: bold;
}

#populares article p{
    margin-bottom: 10%;
}

#populares article a{
    color: var(--predeterminado1);
    background-color: white;
    border-radius: 10px;
    padding: 2%;
}

form section{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

form{
    flex-direction: row;
}

#inputs{
    flex-direction: column;
    width: 70%;
}

form h1{
    font-family: "Quicksand", sans-serif;
    padding-top: 15%;
    font-weight: lighter;
}

 input{
    margin: 3%;
    padding: 5%;
    font-size: 1.5vh;
    font-weight: bold;
}

#enviar{
    background-color: rgb(255, 255, 255);
    width: 50%;
}

#email{
    width: 80%;
}

#check{
    flex-direction: row;
}

form div{
    height: 20%;
    padding-bottom: 10%;
}

footer{
    text-align: center;
    padding: 10%;
    background-color: var(--predeterminado1);
}
/*--------------TABLET-------------------*/

@media all and (min-width: 768px){

    body{
        font-size: 1.2rem;
    }

    span{
        color: var(--predeterminado1);
        font-family: "Archivo Black", sans-serif;
    }

    .celular{
        display: inline;
    }

    #hamburguesa{
        display: none;
    }

    article img{
        width: 20vh;
        height: 20vh;
    }

    article h3, article p{
        margin-top: 3vh;
    }

    article, article p{
        margin-bottom: 10%;
    }

    .celular{
        margin-bottom: -5px;
    }

    #deportes{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    #deportes .celular{
        display: block;
    }

    #deportes article{
        width: 40%;
    }

    #grilla{
        display: grid;
        grid-template-rows: 250px 250px 1fr;
        grid-template-columns: 1fr 1fr;
    }

    #jugando{
         object-fit: cover;
         height: 100%;
    }

    #jugando, #socio{
        grid-column: span 2;
    }
    #grilla div{
        overflow: hidden;
    }

    #grilla img{
        z-index: 1;
    }

    #disponible, #informacion{
        height: 100%;
    }

    #disponible{
        padding: 0;
        align-content: center;
    }

    #informacion img{
        object-fit: contain;
    }

    #socio{
        text-align: start;
        display: inline;
        margin: auto;
        padding: 3em;
    }

    #populares{
        display: flex;
        justify-content: space-between;
        padding: 5%;
    }

    #populares article{
        width: 45%;
        margin: auto;
    }

    form input{
        size: 10%;
        padding: 3vh;
        font-size: 2vh;
    }

    #inputs{
        flex-direction: row;
    }
}

/*---------------DESKTOP----------------*/

@media all and (min-width: 1200px){
    body{
        font-size: 1.5rem;
    }

    header nav a{
    font-size: 1.5em;
    }

    .desktop{
        display: inline;
    }

    #nombre{
        font-size: 2rem;
    }

    header img{
        height: 6.5vh;
    }

    nav a{
        font-size: 1.5rem;
        margin-inline: 2rem;
    }

    article img{
        width: 45vh;
        height: 45vh;
    }

    article h3, article p{
        margin-top: 3vh;
    }

    #deportes{
        flex-wrap: nowrap;
        top: 0px;
        height: 70vh;
        background-color: white;
    }

    #deportes article{
        background-color: var(--predeterminado1);
        margin-bottom: 0;
        position: relative;
        width: fit-content;
        padding: 20px;
    }

    #deportes img{
        max-width: 15vh;
        max-height: 15vh;
    }

    #id_deportes{
        position: absolute;
        width: 100%;
        height: 50vh;
        margin-top: 20%;
        z-index: 0;
        background-color: var(--predeterminado1);
    }

    #populares article{
        width: 30%;
        margin: auto;
        margin: 0px;
    }

    #grilla{
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        
    }

    #disponible{
        grid-column: 1;
    }

    #informacion img{
        grid-column: 1fr;
        grid-row: 1fr;
    }

    #socio{
        grid-column: span 1;
        grid-row: span 2;
    }

    form, footer{
        font-size: 3rem;
    }
}